vim.symlink/bundle/*

!/ssh.symlink
/ssh.symlink/*
!/ssh.symlink/config

!/vim.symlink
/vim.symlink/*
!/vim.symlink/vimrc.symlink

sublime-text/*-ca-bundle
sublime-text/*.cache
sublime-text/*.last-run

git/gitconfig.local.symlink
